

@{
    ViewBag.Title = "AddInterest";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container">
    <h2>Add Interest</h2>

    <form method="post">

        <div class="form-group">
            <label for="inputName">Interest</label>
            <input type="text" class="form-control" id="inputName" name="Hobby">
        </div> 
        <div class="form-group">
            <label for="inputName">Icon</label>
            <input type="text" class="form-control" id="inputName" name="Icon">
        </div>
       

        <button type="submit" class="btn btn-primary">Save</button>
    </form>
</div>