
@using ASP_MVC_CV_Prj.Models.Entity
@model List<Certificates>


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />



<h2>Certifications List</h2>

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Certificate</th>
            <th scope="col">Details</th>   
        </tr>
    </thead>
    <tbody>
        @foreach (var d in Model)
        {
            <tr>
                <th scope="row">@d.ID</th>
                <td>@d.Certificate</td>
                <td>@d.Details</td>
    
                <td><a href="/Certificates/GetCert/@d.ID" class="btn btn-warning">Edit</a></td>
                <td><a href="/Certificates/DeleteCert/@d.ID" class="btn btn-danger">Delete</a></td>
            </tr>
        }

    </tbody>
</table>

<a href="/Certificates/AddCert/" class="btn btn-info">Add New</a>