
@{
    ViewBag.Title = "AddEdu";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="container">
<h2>AddEducation</h2>


    <form method="post">
        <div class="form-group">
            <label for="inputName">Header</label>
            <input type="text" class="form-control" id="inputName" name="Header">
        </div>
        <div class="form-group">
            <label for="inputMail">Subheader</label>
            <input type="text" class="form-control" id="inputMail" name="Subheader1">
        </div>
        <div class="form-group">
            <label for="inputSubject">Subheader 2</label>
            <input type="text" class="form-control" id="inputSubject" name="Subheader2">
        </div>
        <div class="form-group">
            <label for="inputSubject">Date </label>
            <input type="text" class="form-control" id="inputSubject" name="Date">
        </div>
      

        <button type="submit" class="btn btn-primary">Save</button>
    </form>
</div>